<!DOCTYPE html>
<html>
<head>
  <title>PrimeCare</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <!-- Navbar -->
  <%- include("partials/navbar") %>

  <!-- Page Content -->
  <%- body %>

</body>
</html>